In [10]:
import pandas as pd


data = pd.read_csv('CSVs\Q_extracctions.csv', encoding='utf-8',)
##data['fecha_publicacion'] = pd.to_datetime(data['fecha_publicacion'])

##df = data.T
##df.columns = df.iloc[0]
data

      folio_recepcion  cantidad_items  cantidad_lm  cantidad_ls
0          2024362375               3           28           16
1          2024350023               3           28           16
2          2024360744               7           28           16
3          2024357908              12           28           16
4          2024350622              22           28           16
...               ...             ...          ...          ...
7673       2024360839               8           28           16
7674       2024357307               7           28           16
7675       2024365802              16           28           16
7676       2024363934               7           28           16
7677       2024362737               3           28           16

[7678 rows x 4 columns]

In [11]:
data['total_campos_extraidos'] = data['cantidad_items'] + data['cantidad_lm'] + data['cantidad_ls']

data

,folio_recepcion,cantidad_items,cantidad_lm,cantidad_ls,total_campos_extraidos
0,2024362375,3,28,16,47
1,2024350023,3,28,16,47
2,2024360744,7,28,16,51
3,2024357908,12,28,16,56
4,2024350622,22,28,16,66
...,...,...,...,...,...
7673,2024360839,8,28,16,52
7674,2024357307,7,28,16,51
7675,2024365802,16,28,16,60
7676,2024363934,7,28,16,51
7677,2024362737,3,28,16,47

In [13]:
resultados = pd.DataFrame({
    'Promedio de cantidad_items': [promedio_cantidad_items],
    'Promedio de total campos extraídos': [promedio_total_campos_extraidos]
})
resultados

   Promedio de cantidad_items  Promedio de total campos extraídos
0                   39.814796                           83.814796